{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Test</title>

  <!-- Import Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Import jQuery CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Import SweetAlert CSS & JS -->
  <script src="https://cdn.jsdelivr.net/sweetalert2/6.3.2/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.2/sweetalert2.min.css">

  <link rel="stylesheet" href="{% static "NumberRecognizer/css/main.css" %}">
  <script src="{% static "NumberRecognizer/js/main.js" %}"></script>
  <script src="{% static "NumberRecognizer/js/draw_panel.js" %}"></script>

</head>
<body>
  <div id="main">
    <div id="wrapper">
      <h1>Number Recognizer</h1>
      <canvas id="main-canvas"></canvas><br>
      <div id="control-panel">
        {% csrf_token %}
        <button id="clear-btn">Clear All</button>
        <button id="feed-btn">Feed The Machine!</button>
        <button id="generate-btn">Generate Data!</button>
        <button id="learn-btn">Learn</button>
      </div>
    </div>
  </div>
</body>
</html>